mixin video(video, uploadedTime)
    div(data-id=video.id data-preview=(video.previewUrl.includes("http") ? video.previewUrl : "/" + video.previewUrl) data-thumb=(video.thumbUrl.includes("http") ? video.thumbUrl : "/" + video.thumbUrl)).video-mixin.video-item
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl.includes("http") ? video.thumbUrl : "/" + video.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            div.video-mixin__author
                if video.owner.avatarUrl !== undefined
                    if video.owner.avatarUrl.includes("http")
                        img(src=`${video.owner.avatarUrl}`)
                    else
                        img.header__avatar(src="/" + video.owner.avatarUrl)
                else
                    img(src="https://yt3.ggpht.com/ytc/AKedOLS8CWf3Z4Q7MlUICz8ViNWqytCgcMm-t3ZkkCe1OEAUGCPmxqVJud58ULUlRFjs=s88-c-k-c0x00ffffff-no-rj-mo")
            div.video-mixin__meta
                h3.video-mixin__title=video.title
                a(href=`/users/${video.owner._id}`) #{video.owner.name}
                if uploadedTime
                    span #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"} • #{uploadedTime[video.id].diff} #{uploadedTime[video.id].unit}
                else
                    span #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"} • #{video.createdAt.toISOString().split('T')[0]}